.counter {
  height: 30px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(239, 254, 255);
  border: 1px solid #000;
  border-radius: 45px;
  font-size: 18px;
  &__item {
    margin-right: 15px;
    &:nth-child(11n) {
      margin-right: 0;  
    }
  }
  & > .active {
    border-bottom: 2px solid #000;
  }
  & > .btn {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 45px;
    margin: 0 7px;
    transition: all 0.4s;
    &:hover {
      background-color: #000;
      color: #fff;
      border: 2px solid #000;
    }
  }
}

@media (max-width: 400px) {
  .counter {
    font-size: 16px;
    &__item {
      margin-right: 10px;
      &:nth-child(11n) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 350px) {
  .counter {
    &__item {
      margin-right: 7px;
      &:nth-child(11n) {
        margin-right: 0;
      }
    }
  }
}
